<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/app.css">

    <title>Museum of Fighter</title>
</head>

<body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand">UFC Champs</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">TICKETS</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container-fluid px-0">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <!-- <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                    <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                    <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                    <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                    <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                    <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1>
                    <h1 class="">MUSEUM<span>/</span>OF<span>/</span>CANDY</h1> -->
                    <span class = "TypeA">Anderson Silva</span><span class = "TypeF">Michael Bisping</span><span class = "TypeB">Jon Jones</span><span class = "TypeB">Dana White</span>
                    <span class = "TypeB">Jose Aldo</span>
                    <span class = "TypeA">Israel Adesanya</span><span class = "TypeB">Alex Pereira</span><span class = "TypeA">Alexandar Volkanoskovi</span>
                    <span class = "TypeC">Khabib Nurmagodev</span><span class = "TypeA">Islam Makhachev</span><span class = "TypeA">Charles Oliveria</span>
                    <span class = "TypeA">Dustin Poirier</span><span class = "TypeF">Justin Gaethje</span><span class = "TypeB">Conor McGregor</span><span class = "TypeB">Brock Lesnar</span>
                    <span class = "TypeB">Stepjen Thompson</span><span class = "TypeB">Kevin Holland</span><span class = "TypeB">Bryan Barberen</span>
                    <span class = "TypeB">Matheus Nicolay</span><span class = "TypeA">Mathew Christopher Schnell</span><span class = "TypeB">Angela Hill</span><span class = "TypeA">Emliy Ducote</span>
                    <span class = "TypeA">Clay Guida</span><span class = "TypeF">Scott Holtzmann</span><span class = "TypeB">Michale Johnson</span><span class = "TypeB">Michael Diakiese</span>
                    <span class = "TypeB">Silva</span>
                    <span class = "TypeA">Silva</span><span class = "TypeB">Jon Jones</span><span class = "TypeA">Jon Jones</span>
                    <span class = "TypeC">Silva</span><span class = "TypeA">Jon Jones</span><span class = "TypeA">Jon Jones</span>
                    <span class = "TypeA">Silva</span><span class = "TypeF">Jon Jones</span><span class = "TypeB">Jon Jones</span><span class = "TypeB">Jon Jones</span>
                    <span class = "TypeA">Silva</span><span class = "TypeB">Jon Jones</span><span class = "TypeA">Jon Jones</span>
                    <span class = "TypeC">Silva</span><span class = "TypeA">Jon Jones</span><span class = "TypeA">Jon Jones</span>
                    <span class = "TypeA">Silva</span><span class = "TypeF">Jon Jones</span><span class = "TypeB">Jon Jones</span><span class = "TypeB">Jon Jones</span>
                    <span class = "TypeB">Silva</span><span class = "TypeB">Silva</span><span class = "TypeB">Silva</span>
                    <span class = "TypeA">Anderson Silva</span><span class = "TypeF">Michael Bisping</span><span class = "TypeB">Jon Jones</span><span class = "TypeB">Dana White</span>
                    <span class = "TypeB">Jose Aldo</span>
                    <span class = "TypeA">Israel Adesanya</span><span class = "TypeB">Alex Pereira</span><span class = "TypeA">Alexandar Volkanoskovi</span>
                    <span class = "TypeC">Khabib Nurmagodev</span><span class = "TypeA">Islam Makhachev</span><span class = "TypeA">Charles Oliveria</span>
                    <span class = "TypeA">Dustin Poirier</span><span class = "TypeF">Justin Gaethje</span><span class = "TypeB">Conor McGregor</span><span class = "TypeB">Brock Lesnar</span>
                    <span class = "TypeB">Stepjen Thompson</span><span class = "TypeB">Kevin Holland</span><span class = "TypeB">Bryan Barberen</span>
                    <span class = "TypeB">Matheus Nicolay</span><span class = "TypeA">Mathew Christopher Schnell</span><span class = "TypeB">Angela Hill</span><span class = "TypeA">Emliy Ducote</span>
                    <span class = "TypeA">Clay Guida</span><span class = "TypeF">Scott Holtzmann</span><span class = "TypeB">Michale Johnson</span><span class = "TypeB">Michael Diakiese</span>
                    <span class = "TypeB">Silva</span>
                    <span class = "TypeC">Silva</span><span class = "TypeA">Jon Jones</span><span class = "TypeA">Jon Jones</span>
                    <span class = "TypeA">Silva</span><span class = "TypeF">Jon Jones</span><span class = "TypeB">Jon Jones</span><span class = "TypeB">Jon Jones</span>
                    <span class = "TypeB">Silva</span><span class = "TypeB">Silva</span><span class = "TypeB">Silva</span>
                    <span class = "TypeA">Anderson Silva</span><span class = "TypeF">Michael Bisping</span><span class = "TypeB">Jon Jones</span><span class = "TypeB">Dana White</span>
                    <span class = "TypeB">Jose Aldo</span>
                    <span class = "TypeA">Israel Adesanya</span><span class = "TypeB">Alex Pereira</span><span class = "TypeA">Alexandar Volkanoskovi</span>
                    <span class = "TypeC">Khabib Nurmagodev</span><span class = "TypeA">Islam Makhachev</span><span class = "TypeA">Charles Oliveria</span>
                    <span class = "TypeA">Dustin Poirier</span>
                    <span class = "TypeC">Khabib Nurmagodev</span><span class = "TypeA">Islam Makhachev</span><span class = "TypeA">Charles Oliveria</span>
                    <span class = "TypeA">Dustin Poirier</span><span class = "TypeF">Justin Gaethje</span><span class = "TypeB">Conor McGregor</span><span class = "TypeB">Brock Lesnar</span>
                    <span class = "TypeB">Stepjen Thompson</span><span class = "TypeB">Kevin Holland</span><span class = "TypeB">Bryan Barberen</span>
                    <span class = "TypeB">Matheus Nicolay</span><span class = "TypeA">Mathew Christopher Schnell</span><span class = "TypeB">Angela Hill</span><span class = "TypeA">Emliy Ducote</span>
                    <span class = "TypeA">Clay Guida</span><span class = "TypeF">Scott Holtzmann</span><span class = "TypeB">Michale Johnson</span><span class = "TypeB">Michael Diakiese</span>
                    <span class = "TypeB">Silva</span>
                    <span class = "TypeC">Silva</span><span class = "TypeA">Jon Jones</span><span class = "TypeA">Jon Jones</span>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="imgs/hand2.png" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="imgs/milk.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Charles Oliveria</h2>
                        <!-- <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline"> -->
                        <p class="lead"> Charles Oliveira da Silva is a Brazilian professional
                             mixed martial artist and Brazilian jiu-jitsu practitioner. He currently
                              competes in the Lightweight division in the Ultimate Fighting 
                              Championship, where he is a former UFC Lightweight Champion.
                              Oliveira holds multiple UFC records, notably the most submission 
                              wins in the organization's history at 16, and most finishes at 19.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Anderson Silva</h2>
                        <!-- <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline"> -->
                        <p class="lead">Anderson da Silva born 14 April 1975) is a Brazilian-American
                             mixed martial artist and boxer. He is a former UFC Middleweight Champion
                              and holds the record for the longest title reign in UFC history at 2,457
                               days. This started in 2006 and ended in 2013 and included a UFC record
                                16 consecutive victories in that span. UFC president Dana White, UFC 
                                commentator Joe Rogan and numerous mixed martial arts (MMA) pundits 
                                have named Silva as one of the greatest mixed martial artists of all
                                 time. Silva left the UFC in November 2020 and returned to boxing..</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="imgs/gumball.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="imgs/sprinkles.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Khabib Nurmagodev</h2>
                        <!-- <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline"> -->
                        <p class="lead">Khabib Abdulmanapovich Nurmagomedov (born 20 September 1988)
                             is a Russian former professional mixed martial artist. He competed in 
                             the lightweight division of the UFC, where he was the longest-reigning
                              UFC Lightweight Champion, having held the title from April 2018 to 
                              March 2021. With 29 wins and no losses, he retired with an undefeated
                               record. Nurmagomedov is widely considered to be among the greatest mixed
                                martial artists of all time, and was inducted into
                                 UFC Hall of Fame on June 30, 2022.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Miesha Tate</h2>
                        <!-- <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline"> -->
                        <p class="lead">Miesha Theresa Tate is an American professional mixed martial
                             artist. She currently competes in the Ultimate Fighting Championship (UFC),
                              in which she is a former UFC Women's Bantamweight Champion. Tate formerly
                               competed for Strikeforce, in which she is a former Strikeforce Women's
                                Bantamweight Champion. She was also the vice president of ONE Championship.
                                 As of October 3, 2022, she is #10 in the UFC women's bantamweight rankings.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="imgs/lolli_icon.png" alt="" class="img-fluid">
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>
